.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding-top: 1rem;
    background-color: hsl(300, 86%, 95%);
    height: 35px;
    z-index: 2;
}

.footer-text {
    position: relative;
    text-align: center;
    font-size: 13px;
    margin-top: -8px;
    z-index: 3;
}