<h1>Log in</h1>
<form novalidate
[formGroup]="myform" (ngSubmit)="onSignin(f)" #f="ngForm">
<div class="form-group"
 [ngClass]="{
  'has-danger': email.invalid && (email.dirty || email.touched),
  'has-success': email.valid && (email.dirty || email.touched)
}">
<label>Email</label>
<input type="email"
     class="form-control"
     formControlName="email"
     required>
<div class="form-control-feedback"
   *ngIf="email.errors && (email.dirty || email.touched)">
<p *ngIf="email.errors.required">Email is required</p>
<p *ngIf="email.errors.pattern">The email address must contain at least the @ character</p>
</div>
<!--
<pre>Valid? {{ myform.controls.email.valid }}</pre>
<pre>Dirty? {{ myform.controls.email.dirty }}</pre>
-->
</div>

<div class="form-group"
 [ngClass]="{
  'has-danger': password.invalid && (password.dirty || password.touched),
  'has-success': password.valid && (password.dirty || password.touched)
}">
  <label>Password</label>
  <input type="password" 
     class="form-control"
     formControlName="password"
     required>
  <div class="form-control-feedback"
    *ngIf="password.errors && (password.dirty || password.touched)">
  <p *ngIf="password.errors.required">Password is required</p>
  <p *ngIf="password.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
  </div>
</div>

<button type="submit" class="btn btn-primary" [disabled]="!f.valid">Log in</button>
</form>






<!-- <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title softer-title-font">Log In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form (ngSubmit)="onSignin(f)" #f="ngForm" class="text offset-lg-2 col-lg-8">
            <label for="email">Email:</label>
              <input type="email" id="email" name="email" ngModel class="form-control"/>
            <br>
            <label for="password">Password:</label>
              <input type="password" id="password" name="password" ngModel class="form-control"/>
          
            <div class="modal-footer">
              <button type="btn" class="btn btn-primary" data-dismiss="modal">Cancel</button>
              <button id="login" type="submit" class="btn btn-primary" [disabled]="!f.valid">Login</button>
            </div>
          </form>
        </div>
        
    </div>
  </div>
</div> -->


<!-- <div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ngModel class="form-control">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Login</button>
    </form>
  </div>
</div> -->
