<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title softer-title-font">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form novalidate [formGroup]="myform" (ngSubmit)="onSignin(f)" #f="ngForm" class="text offset-lg-2 col-lg-8">

          <div class="form-group" [ngClass]="{
            'has-danger': email.invalid && (email.dirty || email.touched),
            'has-success': email.valid && (email.dirty || email.touched)
            }">
            <label>Email:</label>
            <input type="email" class="form-control" formControlName="email" required>
              <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                <p *ngIf="email.errors.required" class="form-input">Email is required</p>
                <p *ngIf="email.errors.pattern" class="form-input">Please enter a valid email</p>
              </div>
          </div>
    
          <div class="form-group" [ngClass]="{
            'has-danger': password.invalid && (password.dirty || password.touched),
            'has-success': password.valid && (password.dirty || password.touched)
            }">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" required>
              <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
                <p *ngIf="password.errors.required" class="form-input">Password is required</p>
                <p *ngIf="password.errors.minlength" class="form-input">Your password must be 8<br>characters, we need {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} more </p>
              </div>
          </div>

          <div class="modal-footer">
            <button type="btn" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Login</button>
          </div>

        </form>        
      </div> 
    </div>
  </div>
</div>