<!-- <h2>Viewing All Items</h2>
  <input type="search" /><a class="btn btn-info">Search</a>
  <div class="card card-block" *ngFor="let item of items">
  <h4 class="card-title">{{item.title}}</h4>
  
  <a class="btn btn-success" (click)="BrowseAll()">more info</a><br><br> -->
  <!-- <button class="btn btn-info" href="">full view</button> -->
<!-- </div> --> 
  
<div class="row mt-5">
    
  <div class="image-tab col-lg-3" *ngFor="let item of items">
    <img class="img-fill clickable" src="../assets/test1thumb.jpeg" routerLink="/oneitem">
    <!-- <img class="img-fill" src="{{ item.imgUrl }}" routerLink="/{{ item.id }}"> -->
    <div class="row">
      <div class="col-lg-8">
      {{ item.title }}
      </div>
      <div class="col-lg-4 text-right">
      {{ item.price }}
      </div>
    </div>
  </div>

</div>