.nav-link {
    margin-left: 13px;
    margin-right: 13px;
}

.navbar {
    height: 50px;
}

.nav-text {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

.logo {
    margin-left: 30px;
    margin-right: 35px;
    height: 25px;
}

.nav-background {
    background-color: rgb(252, 226, 122);
}