<div class="row soft-title-font">
  about
</div>
<div class="container">
  <div class="row">
    <div class="small-text offset-lg-1 col-lg-4 created-by">
      <p>This site was created by ralugnA, a team of three web development students of Eleven Fifty Academy:</p>
      Simon Lee<br>
      Brett Newlund<br>
      Brandon Schaaf<br>
      <p></p>
    </div>
    <div class="offset-lg-1 col-lg-5 text desc">
      <p>Thank you for visiting<br>
      <span class="softer-title-font">Maternity market</span></p>
      <p>The Pascascios, an Indianapolis family, is raising a baby for the first time. They're finding themselves, all of a sudden, in great need of items that they would likely never need otherwise: Strollers, cribs, clothes, toys, etc.</p>
      <p>Elsewhere in Indianapolis, the O'Connor family has a baby who has outgrown their stroller, crib, clothes, and toys.</p>
      <p>At Maternity Market, the Pascascios can find everything they need for their family at a more comfortable cost than they'd find buying new. At the same time, the O'Connors are able to make space in their home while making a few deposits in their bank account.</p>
      <p>Whenever the Pascascio family is ready, they can create a Maternity Market account a seller and help out a brand new Indianapolis family: the Jacksons.</p>
    </div>
  </div>
</div>