<div [hidden]="LoggedIn">
  <nav class="navbar navbar-toggleable-md navbar-light nav-background">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-text" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a (click)="LoggedIn = true" class="nav-link clickable" data-toggle="modal" data-target="#login-modal">seller log in <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a routerLink="/home">
          <img class="logo" src="../assets/MM.png">
        </a>
      </form>
    </div>
  </nav>
</div>

<div [hidden]="!LoggedIn">
  <nav class="navbar navbar-toggleable-md navbar-light nav-background">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-text" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link clickable" routerLink="/home">shop <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link clickable" routerLink="/admin">account <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <!-- <a (click)="LoggedIn = false" class="nav-link" routerLink="/home">log out <span class="sr-only">(current)</span></a> -->
          <a class="nav-link clickable" (click)="logout()" *ngIf="authService.isAuthenticated()" routerLink="/home">log out <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a routerLink="/home">
          <img class="logo" src="../assets/MM.png">
        </a>
      </form>
    </div>
  </nav>
</div>



<app-login></app-login>
