<div class="container">
  <div class="row padding-top">
    <div class="header-font col-lg-10">
      {{ item?.title }}
    </div>
    <div class="header-font col-lg-2">
      <b>{{ item?.price }}</b>
    </div>
  </div>

  <div class="row small-text padding">
    Description:
  </div>
  
  <div class="row">
    <div class="col-lg-5 desc-box">
      <div class="text">
        {{ item?.description }}
      </div>
    </div>
    <div class="col-lg-7">
      <div>
        <div class="img-box">
        <img style='height: 100%; width: 100%; object-fit: contain' src="{{ item?.imgurl }}">
        </div>
        <div class="contact-box text"> 
          Email: {{ user.email }}<br>
          Phone: {{ user.phone }}<br>
          Zip: {{ user.zip }}
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-lg-center buttons">
    <button class="btn btn-secondary back-link text">
      back to search
    </button>
  </div>
</div>

