.title-padding {
    padding: 80px 0px 40px 0px;
}

.sign-up {
    padding-left: 25px;
}

.search-btn {
    background-color: white;
    color: gray;
    border-radius: 40px 0px 0px 40px;
    height: 75px;
    padding: 5px 5px 5px 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    text-align: left;
}

.dropdown-toggle::after {
    display:none
}

.link-padding {
    padding: 15px 0px 0px 15px;
}

.browse-btn {
    width: 180px;
    height: 75px;
    border-radius: 0px 50px 50px 0px;
    text-align: center;
    margin-left: -5px;
}

.dropdown-menu {
    background-color: #E6E6E6;
    margin-left: 15px;
    border-radius: 25px;
    padding: 20px 0px 25px 0px;
}

.menu {
    width: 45em;
    background-color: white;
    padding-top: 25px;
    margin-top: -75px;
    height: 270px;
    border-radius: 40px 0px 40px 40px;
    position: absolute;
    z-index: 1;
}

.menu-header {
    padding-bottom: 15px;
    margin-left: 1.6em;
}

.baby-list-1 {
    margin-left: 1.4em;
    padding-left: 40px;
}

.baby-list-2 {
    padding-right: 40px;
}

.mom-list {
    padding-right: 2em;
}

.category:hover {
    font-weight: bold;
    color: purple;
}
.img-fill {
    width: 100%;
    height: 100%;
}

.image-tab {
    width: 30%;
    height: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    margin: 10px;
}