<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Post New Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <form>
          <h2>Let's post your item</h2>
          <p>First, choose a category:</p>
          <div class="form-group">
              <label for="title">Product Title</label>    
              <input type="text" placeholder="Product Title" #title/>
          </div>
      
          <div class="form-group">
              <label for="description">Product Description</label>
              <textarea class="form-control" id="description" rows="5" placeholder="Please leave a detailed description. For example, 2016 Atlas 65 2-in-1 Harness Booster, red" #description></textarea>
          </div>

          <div class="form-group">
              <label for="zipcode">Zip Code</label>
              <input type="text" class="form-control" id="zip" placeholder="Enter Zip Code" #zip>
          </div>
          <div class="modal-footer">
          <button (click)="addItem(title, description, zip)">Submit</button>
        </div>
        </form>
        </div>

      </div>
    </div>
  </div>

