.box {
    background-color: white;
    border-radius: 25px;
    margin-top: 10%;
    padding: 35px;
}

.header {
    margin: auto;
    text-align: center;
}

.body {
    margin-top: 25px;
    margin-bottom: 20px;
}

.form-header {
    margin-bottom: 4px;
}