<div class="container">
  <div class="row padding-top">
    <div class="header-font col-lg-10">
      Title of item for sale
    </div>
    <div class="header-font col-lg-2">
      <b>$100</b>
    </div>
  </div>

  <div class="row small-text padding">
    Description:
  </div>
  
  <div class="row">
    <div class="col-lg-5 desc-box">
      <div class="text">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime neque officiis in ipsum obcaecati perspiciatis id hic. Architecto animi rerum quidem natus aspernatur quos quaerat? Repellat dolorum quam aperiam impedit.
      <br><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime neque officiis in ipsum obcaecati perspiciatis id hic. Architecto animi rerum quidem natus aspernatur quos quaerat? Repellat dolorum quam aperiam impedit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime neque officiis in ipsum obcaecati perspiciatis id hic. Architecto animi rerum quidem natus aspernatur quos quaerat? Repellat dolorum quam aperiam impedit. Maxime neque officiis in ipsum obcaecati perspiciatis id hic. Architecto animi rerum quidem natus aspernatur quos quaerat? Repellat dolorum quam aperiam impedit. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime neque officiis in ipsum obcaecati perspiciatis id hic. Architecto animi rerum quidem natus aspernatur quos quaerat? Repellat dolorum quam.
      <br><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      </div>
    </div>
    <div class="col-lg-7">
      <div class="img-box">
        <div>
        <img class="img-fill" src="../assets/baby.jpg">
        </div>
        <div class="contact-box text"> 
          Email: jon_arbuckle@aol.com<br>
          Phone: 317-228-7454<br>
          Zip: 46203
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-lg-center buttons">
    <button class="btn btn-primary prev-next-btns"><</button>
    <button class="btn btn-secondary back-link text">
      back to results
    </button>
    <button class="btn btn-primary prev-next-btns">></button>
  </div>
</div>

