<!-- <div class="row">
    <div class="row soft-title-font">
        contact
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2 form-padding">
        <form action="https://formspree.io/codecutta@gmail.com" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name" id="name" required="" data-validation-required-message="Please enter your name" name="name"> 
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email" id="email" required="" data-validation-required-message="Please enter your email" name="_replyto"> 
                <p class="help-block text-danger"></p>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="7" placeholder="Your Message" id="message" required="" data-validation-required-message="Please leave a message" name="message"></textarea>
                <p class="help-block text-danger"></p>
            </div>
            <div class="text-center">
                <div id="success"></div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>Send Message</button>
            </div>
        </form>
    </div>
</div> -->
<!-- End Contact form -->
<div id="contactform">
    <h1>We love comments and questions!</h1>
    <br>
<section id="contact">
        
    <div class="container">
      
        <form name="htmlform">
        
        <input type="text" name="name" placeholder="NAME" required>
            
        <input  type="email" name="email" placeholder="MAIL" required>
            
        <textarea name="comments" placeholder="MESSAGE" required ></textarea>
            
        <button name="send" type="submit" class="submit">SEND</button>
            
        </form>
       
    </div>
</section>
</div>