<div class="column">
  <div class="row col-lg-6">
    <div class="soft-title-font">Sign Up</div>

    <form class="text form-margin">
      <div class="form-group">
        <label for="SignUpEmail" class="form-header">Email address</label>
        <input type="email" class="form-control form-input col-lg-12" id="SignUpEmail" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted form-input">We'll hide this from buyers.</small>
      </div>
      <div class="form-group">
          <label for="SignUpPhone" class="form-header">Phone number</label>
          <input type="tel" class="form-control form-input col-lg-12" id="SignUpPhone" aria-describedby="emailHelp" placeholder="Enter phone number">
          <small id="phoneHelp" class="form-text text-muted form-input">This is optional. Enter your number if<br>you'd like buyers to call or text you.</small>
      </div>
      <div class="form-group">
        <label for="SignUpPassword" class="form-header">Password</label>
        <input type="password" class="form-control form-input col-lg-10" id="SignUpPassword" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="SignUpConfirmPassword" class="form-header">Confirm</label>
        <input type="password" class="form-control form-input col-lg-10" id="SignUpConfirmPassword" placeholder="Passwords must match">
      </div>
      <div class="form-group">
        <label for="SignUpZip"class="form-header">Zip Code</label>
        <input type="text" pattern="[0-9]{5}" class="form-control form-input col-lg-7" id="SignUpZip" placeholder="Enter zip code">
      </div>

      <button type="submit" class="btn btn-primary">sign up</button>
    </form>

  </div>
</div>