.tight-spacing {
    margin-top: -6px;
}

.header-spacing {
    margin-top: -10px;
}

.edit-btn-box {
    width: 284%;
    position: absolute;
}

.edit-btn {
    /* margin-left: 3.7em; */
    margin-top: 5em;
    position: absolute;
    z-index: 1;
}

.form-custom {
    background-color: white;
    border-radius: 25px;
    width: 284px;
    height: 440px;
    padding: 15px;
}

.opacity-box {
    background-color: rgb(255, 190, 253);
    opacity: .8;
    border-radius: 25px;
    width: 284px;
    height: 440px;
    position: absolute;
}