<div class="row soft-title-font">
  my items
</div>

<div class="row col-lg-9 justify-content-lg-left">
  <div class="row col-lg-4">
    <img class="img-fill" src="../assets/test1thumb.jpeg">
  </div>
  <div class="row col-lg-4">
    <img class="img-fill" src="../assets/test2thumb.jpg">
  </div>
  <div class="row col-lg-4">
      <img class="img-fill" src="../assets/test3thumb.jpg">
  </div>
  <div class="row col-lg-4">
      <img class="img-fill" src="../assets/test4thumb.jpg">
  </div>
  <div class="row col-lg-4">
      <img class="img-fill" src="../assets/test5thumb.jpg">
  </div>
  <div class="add-button row col-lg-4 align-self-lg-center justify-content-lg-center">
      <img src="../assets/add.png">
  </div>
</div>