<div class="row soft-title-font">
  my items
</div>

<div class="row">
  <div class="col-lg-8 justify-content-lg-left">
    <div class="row">
      <div class="image-tab">
        <img class="img-fill" src="../assets/test1thumb.jpeg">
      </div>
      <div class="image-tab">
        <img class="img-fill" src="../assets/test2thumb.jpg">
      </div>
      <div class="image-tab">
        <img class="img-fill" src="../assets/test3thumb.jpg">
      </div>
    </div>

    <div class="row small-text">
      <div class="title-tab">
        <div class="row">
          <div class="col-lg-8">
            Stroller
          </div>
          <div class="col-lg-4 text-right">
            $100
          </div>
        </div>
      </div>
      <div class="title-tab">
        <div class="row">
          <div class="col-lg-8">
            Bottles
          </div>
          <div class="col-lg-4 text-right">
            $20
          </div>
        </div>
      </div>
      <div class="title-tab">
        <div class="row">
          <div class="col-lg-8">
            6 Size Medium Pants
          </div>
          <div class="col-lg-4 text-right">
            $80
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="image-tab">
        <img class="img-fill" src="../assets/test4thumb.jpg">
      </div>
      <div class="image-tab">
        <img class="img-fill" src="../assets/test5thumb.jpg">
      </div>
      <div class="add-tab">
        <img class="img-fill" data-toggle="modal" data-target="#create-modal"  src="../assets/add.png">
      </div>
    </div>
  
    <div class="row small-text">
      <div class="title-tab">
        <div class="row">
          <div class="col-lg-8">
            Size Small Jean Jacket Size Small Jean Jacket
          </div>
          <div class="col-lg-4 text-right">
            $30
          </div>
        </div>
      </div>
      <div class="title-tab">
        <div class="row">
          <div class="col-lg-8">
            Pajama Shirt
          </div>
          <div class="col-lg-4 text-right">
            $5
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="offset-lg-1 col-lg-3 justify-content-right">
    <app-editprofile></app-editprofile>
  </div>
  
</div>

<app-create></app-create>
