.padding-top {
    padding-top: 40px;
}

.header-font {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 40px;
    text-align: left;
}

.back-link {
    padding: 20px;
    margin: 0px 10px 0px 10px;
    border-radius: 50px;
    background: rgb(207, 169, 0);
}

.back-link:hover, .back-link:focus, .back-link:active, .back-link.active {
    background: rgb(226, 194, 78);
}

.desc-box {
    background-color: rgb(255, 237, 204);
    position: relative;
    border-radius: 10px;
    padding: 1em;
    height: 24em;
    overflow-y: scroll;
}
.img-box {
    height: 24em;
    padding: .5em;
    align-items: center;
}

.img-fill {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.contact-box {
    position: relative;
    right: 0;
    bottom: 0;
    text-align: right;
    padding: .5em 1.5em 4em 0em;
    height: 3.5em;
}

.buttons {
    padding-top: 20px;
}

.padding {
    padding: 2em 0em 1em 2em;
}

.prev-next-btns {
    border-radius: 50px;
}