<div class="container">
    <div class="row">
        <span class="title-font title-padding">Maternity<br>Market</span>
    </div>
    <div class="row">
        <div class="dropdown col-lg-12">
            <button class="btn btn-secondary dropdown-toggle search-btn col-lg-8" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="ShowCategories($event)">
                I'm looking for...
            </button>

            <button type="button" class="btn btn-info browse-btn" (click)="viewAll()">or browse all</button>

            <div class="col-lg-8 menu text-center" [hidden]="Unclicked" (click)="HideCategories($event)">
                <div class="row softer-title-font menu-header">
                    <div class="col-lg-6">
                        For Baby:
                    </div>
                    <div class="col-lg-4">
                        For Mom:
                    </div>
                </div>
                <div class="row small-text">
                    <div class="col-lg-3 baby-list-1">
                        Apparel<br>
                        Bath<br>
                        Activities & Gear<br>
                        Bedding<br>
                        Car Seats<br>
                        Diaper Bags<br>
                        Diapers<br>
                        Feeding & Nursing<br>
                        Health & Safety<br>
                    </div>
                    <div class="col-lg-3 baby-list-2">
                        Nursery Decor<br>
                        Nursery Furniture<br>
                        Nursery Storage<br>
                        Playroom<br>
                        Strollers<br>
                        Swaddle<br>
                        Blankets<br>
                        Toys<br>
                        Other
                    </div>
                    <div class="col-lg-4 mom-list">
                        Activewear<br>
                        Dresses<br>
                        Pants<br>
                        Shorts<br>
                        Skirts<br>
                        Sweaters<br>
                        Tops<br>
                        Other<br>
                    </div>
                </div>
            </div>

            <!--  -->

        </div>
    </div>
    <div class="row link-padding">
            <a routerLink="/signup" class="sign-up"><b>Have something you want to sell or give away?</b></a>
    </div>
</div>
