<div class="back-link text">
  back to results
</div>

<div class="container">
  <div class="row item-title">
    <h1>Baby for sale (Brand new!) - $100</h1>
  </div>
  
  <div class="row">
    <div class="col-lg-5 desc-box title">
      I'm selling a brand new baby. It's clean and nearly brand new. I unexpectedly gave birth to twins and no longer need this baby. If you have any questions, feel free to get in touch with me. I'd be happy to introduce you to the baby to see if it likes you. This would probably be a good idea because I don't accept returns. Thanks!
      <div class="contact-box"> 
          Email: jon_arbuckle@aol.com<br>
          Phone: 317-228-7454
      </div>
    </div>
    <div class="col-lg-7">
      <div class="img-box">
        <img class="img-fill" src="../assets/baby.jpg">
      </div>
    </div>
  </div>

  <div class="row justify-content-lg-center buttons">
    <button>Previous</button>
    <button>Next</button>
  </div>
</div>